
.button {
    -fx-background-color: rgba(0, 0, 0, 0.8);
    -fx-text-fill: #fff;
    -fx-font-size: 20px;
    -fx-pref-width: 300px;

    -fx-padding: 50px;
    -fx-border-insets: 20px;
    -fx-background-insets: 20px;
    
    -fx-background-radius: 5px;
}

#menu {
    -fx-background-color: linear-gradient(to top right, #02dd20, #05bf77);
}

.button:hover{
    -fx-background-color: rgba(230, 230, 230, 0.8);
    -fx-text-fill: #000;
    -fx-cursor: hand;

}

#headingimage{
    -fx-padding: 10px;
}
